<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Tick.rs</title>
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<style>
			:root {
				--background: #f1f3f5;
				--color: #212529;
				--link-color: #3b5bdb;
				--link-visited-color: #6741d9;
			}
			html {
				font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
					Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
				max-width: 70ch;
				margin: auto;
				line-height: 1.5;
				font-size: 1.125em;
				overflow-wrap: break-word;
				background: var(--background);
				color: var(--color);
			}
			a {
				color: var(--link-color);
			}
			a:visited {
				color: var(--link-visited-color);
			}
			p {
				max-width: 70ch;
				margin: 0.5rem 0;
			}
			pre {
				font-family: monospace;
				padding: 1rem;
			}
			h1,
			h2,
			h3,
			h4 {
				margin: 2rem 0 0 0;
			}
			mark {
				background: #ffec99;
			}
			@media (prefers-color-scheme: dark) {
				:root {
					--background: #343a40;
					--color: #f8f9fa;
					--link-color: #748ffc;
					--link-visited-color: #9775fa;
				}
			}
		</style>
		<script>
			customElements.define(
				"tick-rs",
				class extends HTMLElement {
					async connectedCallback() {
						this.attachShadow({ mode: "open" }).textContent = await (
							await fetch(this.getAttribute("src"))
						).text();
					}
				},
			);
		</script>
	</head>
	<body>
		<main>
			<h1>tick.rs</h1>

			<p>
				tick.rs is a very simple service that allows you to increment and
				retrieve numbers. It's mostly useful for static websites where you don't
				want to make the leap into using a database. Instead you can use
				tick.rs.
			</p>

			<p>
				As an example, here is a tracking counter for this site: You're visitor
				number...
				<tick-rs src="/c+/tick-rs-visit-counter.txt"></tick-rs>!
			</p>

			<p>
				So far people have generated
				<tick-rs src="/_total"></tick-rs> counters on this site. The highest
				counter in the database is currently at
				<tick-rs src="/_highest"></tick-rs>.
			</p>

			<p>
				Data is persisted to an sqlite database. If you have a database on your
				server this will be of almost zero use to you, because it's just a
				column in a database. But if you don't want to set up a database just to
				store some numbers, then tick.rs can be useful.
			</p>

			<p>
				While nothing is guaranteed, tick.rs aims to be free and usable forever.
				There is no aim to monetize this, it won't sprout ads, or accumulate VC
				money and become "Counters as a Service". No tracking or other
				shenanigans. The only things recorded are the ID, the counter, the last
				modified timestamp and the creation timestamp. IPs are never recorded.
			</p>

			<p>
				Having said that, there is no express or implied warranty while using
				this service and I reserve the right to delete or block counters or
				users for any reason.
			</p>

			<h2>Counters API</h2>

			<p>
				To make a new counter, <code>POST</code> to <code>/c</code>. This will
				generate a new ID for you.
			</p>
			<pre><code>curl -vX POST tick.rs/c
...
< HTTP/1.1 303 See Other
< content-length: 12
< content-type: \
<   text/plain; charset=utf-8
< location: /F5sTldY06kLR
< date: Sun, 06 Oct 2024 13:14:15 GMT
F5sTldY06kLR
</code></pre>

			<p>
				With your new ID you can <code>POST</code> to
				<code>/c/<mark>ID</mark></code>
				to increment the counter. Counters can't be decremented. The return
				value will be a redirect to the GET to avoid double posts, but the
				content will also have the number to minimize duplicate requests if you
				don't intend to follow redirects.
			</p>
			<pre><code>curl -vX POST tick.rs/c/<mark>F5sTldY06kLR</mark>
...
< HTTP/1.1 303 See Other
< content-length: 1
< content-type: \
<   text/plain; charset=utf-8
< location: /F5sTldY06kLR
< date: Sun, 06 Oct 2024 13:14:15 GMT
8
</code></pre>

			<p>
				If you're feeling brave you could skip generating a unique ID and make
				one up. If it doesn't exist it'll be created and the counter will be 1.
			</p>
			<pre><code>curl -vX POST tick.rs/c/<mark>my_own_id</mark>
...
< HTTP/1.1 303 See Other
< content-length: 1
< content-type: \
<   text/plain; charset=utf-8
< location: /c/my_own_id
< date: Sun, 06 Oct 2024 13:14:15 GMT
1
</code></pre>

			<p>
				As you might guess, you can GET <code>/c/<mark>ID</mark></code> to
				retrieve the current count, as well as the last time it was modified:
			</p>
			<pre><code>curl -vX GET tick.rs/c/<mark>F5sTldY06kLR</mark>
...
< HTTP/1.1 200 OK
< content-length: 1
< content-type: \
<   text/plain; charset=utf-8
< last-modified: \
<   Sun, 06 Oct 2024 13:14:15 GMT
< date: Sun, 06 Oct 2024 13:14:15 GMT
1
</code></pre>

			<p>
				If you don't like <code>text/plain</code> you can add an extension to
				the path, e.g. <code>/c/<mark>ID</mark>.json</code> will respond with
				JSON instead. You can also try <code>.png</code>, <code>.gif</code>,
				<code>.svg</code>, <code>.txt</code>. Image formats will give you a
				small 1px by 1px image. This is useful to use as a
				<a href="https://en.wikipedia.org/wiki/Spy_pixel">"tracking pixel"</a>,
				but of course you're just going to get a count, no advanced analytics
				here.
			</p>

			<p>
				Sometimes you really can't use a <code>POST</code> request, for example
				in the afforementioned tracking pixel case. As a workaround you can
				<code>GET</code> to <code>/c+/<mark>ID</mark></code
				>. This is obviously an abuse of the protocol because GET requests
				should be idempotent.
			</p>

			<pre><code>curl -vX GET tick.rs/c+/<mark>F5sTldY06kLR</mark>
...
< HTTP/1.1 303 See Other
< content-length: 1
< content-type: \
<   text/plain; charset=utf-8
< location: /c/F5sTldY06kLR
< date: Sun, 06 Oct 2024 13:14:15 GMT
1
</code></pre>

			<p>
				Sometimes it can be useful to plug these into a dashboard, like
				<a href="https://grafana.com/">Grafana</a>. To make this a little easier
				you can GET <code>/c/<mark>ID</mark>/metrics</code> to get an
				<a
					href="https://github.com/OpenObservability/OpenMetrics/blob/main/specification/OpenMetrics.md"
					>OpenMetrics</a
				>
				formatted version of the counter, which can be more easily ingested into
				OpenMetrics compatible tools such as
				<a href="https://prometheus.io/">Prometheus</a>.
			</p>
			<pre><code>curl -vX GET tick.rs/c/<mark>F5sTldY06kLR</mark>/metrics
...
< HTTP/1.1 200 OK
< content-length: 1
< content-type: \
<   text/plain; version=0.0.4; \
<   charset=utf-8
< last-modified: \
<   Sun, 06 Oct 2024 13:14:15 GMT
< date: Sun, 06 Oct 2024 13:14:15 GMT
# TYPE F5sTldY06kLR counter
F5sTldY06kLR_count 8
</code></pre>

			<h2>Gauge API</h2>

			<p>
				Change the <code>/c</code> to a <code>/g</code> and you'll get a gauge.
				Gauges can go up as well as down. Gauges can go negative, they're
				signed. They're stored in a different table to Counters, so a Counter
				and a Gauge might have the same ID, but they're different records. The
				API to Gauges is identical to Counters, with some subtle differences:
			</p>

			<p>
				In addition to all the API above, gauges also have the <code>/g-</code>
				endpoint, which decrements them.
			</p>

			<pre><code>curl -vX GET tick.rs/g-/<mark>F5sTldY06kLR</mark>/metrics
...
< HTTP/1.1 303 See Other
< content-length: 1
< content-type: \
<   text/plain; charset=utf-8
< location: /g/F5sTldY06kLR
< date: Sun, 06 Oct 2024 13:14:15 GMT
-1
</code></pre>

			<p>
				This endpoint also accepts POST requests, so you can swap the GET for a
				POST for the theoretical purity of HTTP verbs.
			</p>

			<pre><code>curl -vX POST tick.rs/g-/<mark>F5sTldY06kLR</mark>/metrics
...
< HTTP/1.1 303 See Other
< content-length: 1
< content-type: \
<   text/plain; charset=utf-8
< location: /g/F5sTldY06kLR
< date: Sun, 06 Oct 2024 13:14:15 GMT
-2
</code></pre>

			<h2>Questions and ideas</h2>

			<p>
				If you have any questions or want to discuss features, this project is
				open source, and can be viewed at
				<a href="https://github.com/keithamus/tickrs"
					>https://github.com/keithamus/tickrs</a
				>. Pull Requests are welcome. Issues are closed. If you want to file an
				issue, consider raising a PR instead.
			</p>
		</main>
	</body>
</html>
